body {
	font-family: "Open Sans", sans-serif;
	background-color: #040404;
	position: relative;
	background: transparent;
	color: #fff;
}

body::before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: -1;
}

@media (min-width: 1024px) {
	.wrapper::before {
		background-attachment: fixed;
	}
}

a {
	color:#ed3c0d;
	text-decoration: none;
}

a:hover {
	color:#ed0d0d;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}
ul,
ol,
li {
	list-style: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: ease-in-out 0.3s;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	z-index: 997;
	overflow-y: auto;
}

#header * {
	transition: ease-in-out 0.3s;
}

#header h1 {
	font-size: 48px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
	color: #fff;
	line-height: 1;
	display: inline-block;
}

#header h2 {
	font-size: 24px;
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
	color: #fff;
	border-bottom: 2px solid #ed3c0d;
	padding-bottom: 6px;
}

#header img {
	padding: 0;
	margin: 0;
}

#header .social-links {
	margin-top: 40px;
	display: flex;
}

#header .social-links a {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#header .social-links a:hover {
	background: #ed3c0d;
}

@media (max-width: 992px) {
	#header h1 {
		font-size: 36px;
	}

	#header h2 {
		font-size: 20px;
		line-height: 30px;
	}

	#header .social-links {
		margin-top: 15px;
	}

	#header .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Header Top */
#header.header-top {
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2 {
	display: none;
}

#header.header-top h1 {
	margin-right: auto;
	font-size: 36px;
}

#header.header-top .container {
	display: flex;
	align-items: center;
}

#header.header-top .navbar {
	margin: 0;
}

@media (max-width: 768px) {
	#header.header-top {
		height: 60px;
	}

	#header.header-top h1 {
		font-size: 26px;
	}
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
	margin-top: 35px;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar li + li {
	margin-left: 30px;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: #ed3c0d;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
	visibility: visible;
	width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
	position: fixed;
	right: 15px;
	top: 15px;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
	margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 45px;
	left: 15px;
	padding: 10px 0;
	overflow-y: auto;
	transition: 0.3s;
	border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
	padding: 12px 20px;
}

.navbar-mobile li + li {
	margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	font-size: 16px;
	position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 140px;
	bottom: 100%;
	opacity: 0;
	transition: ease-in-out 0.4s;
	z-index: 2;
}

section.section-show {
	top: 100px;
	bottom: auto;
	opacity: 1;
	padding-bottom: 45px;
	background-color: #010101;
}

section .container {
	background: rgba(0, 0, 0, 0.9);
	padding: 30px;
}

@media (max-width: 768px) {
	section {
		top: 120px;
	}

	section.section-show {
		top: 80px;
	}
}

.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
}

.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #ed3c0d;
	margin: 4px 10px;
}

.section-title p {
	margin: 0;
	margin: -15px 0 15px 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #ed3c0d;
}

.about-me .content ul {
	list-style: none;
	padding: 0;
}

.about-me .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.about-me .content ul strong {
	margin-right: 10px;
}

.about-me .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #ed3c0d;
	line-height: 0;
}

.about-me .content p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .skills-box {
	padding: 20px;
	text-transform: uppercase;
}
.skills-box span{
	padding-left: 15px;
}
.skills-title {
	font-size: 16px;
	color: #ed3c0d;
}
/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
	display: flex;
	align-items: center;
	padding: 20px;
	background: rgba(255, 255, 255, 0.08);
	transition: ease-in-out 0.3s;
}

.interests .icon-box i {
	font-size: 32px;
	padding-right: 10px;
	line-height: 1;
}

.interests .icon-box h3 {
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 16px;
	color: #fff;
}

.interests .icon-box:hover {
	background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}

.resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	position: relative;
}

.resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #ed3c0d;
	margin-bottom: 10px;
}

.resume .resume-item h5 {
	font-size: 16px;
	background: rgba(255, 255, 255, 0.15);
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}

.resume .resume-item ul {
	padding-left: 20px;
}

.resume .resume-item ul li {
	padding-bottom: 10px;
}
.resume .resume-item i{
	padding-right: 15px;
}
.resume .resume-item:last-child {
	padding-bottom: 0;
}

.resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #ed3c0d;
	border: 2px solid #ed3c0d;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
	color: #444444;
	padding: 20px;
	width: 100%;
	background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
	font-size: 24px;
	color: #ed3c0d;
	border-radius: 50%;
	padding: 14px;
	float: left;
	background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 700;
	margin: 10px 0 8px 68px;
}

.contact .info-box p {
	padding: 0;
	color: #fff;
	line-height: 24px;
	font-size: 14px;
	margin: 0 0 0 68px;
}

.contact .info-box .social-links {
	margin: 5px 0 0 68px;
	display: flex;
}

.contact .info-box .social-links a {
	font-size: 18px;
	display: inline-block;
	color: #fff;
	line-height: 1;
	margin-right: 12px;
	transition: 0.3s;
}

.contact .info-box .social-links a:hover {
	color: #ed3c0d;
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 15px;
	text-align: right;
	font-size: 13px;
	color: #fff;
	z-index: 999999;
}
